<div>
  <div class="jumbotron jumbotron-fluid">
    <form novalidate [formGroup]="hexForm" autocomplete="off">
      <div class="container">
        <div class="row">
          <div class="col col-md-4 col-lg-4">
            <div class="row">
              <div class="col">
                <span class="uiplatte-icon" [style.color]="'#FF3F80'">UI</span><span class="uiplatte-icon" [style.color]="'rgba(0,0,0,.87)'">PALE</span><span class="uiplatte-icon" [style.color]="'#3E50B4'">TTE</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span class="generate-palatte-by">Generate palatte by one clicking</span>
              </div>
            </div>
          </div>
          <div class="col col-md-1 col-lg-1">
          </div>
          <div class="col col-md-7 col-lg-7">
            <div class="row">
              <div class="col">
                <input placeholder="HEX"
                       class="hex-input"
                       name="hexValue"
                       maxlength="7"
                       #hv
                       setFocus
                       (click)="hv.value = ''"
                       (click)="initHslaArrs()"
                       [(colorPicker)]="hv.value"
                       [value]="hv.value"
                       (keypress)="_keyPress($event)"
                       [cpOKButton]="true"
                       [cpPosition]="'bottom'"
                       [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                       (input)="hv.value=dealHashStr($event.target.value.toUpperCase())"
                       formControlName="hexValue">
                <i  *ngIf="hexValue.valid && hv.value.length > 0"
                    (click)="calBaseHsl(hv.value)"
                    class="material-icons">keyboard_return</i>

                <md-hint align="start"
                         *ngIf="!hexValue.valid">
                  <span class="error-msg">
                    Please input valid hex value.
                  </span></md-hint>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="container colorBody">
    <div class="row">
      <div class="col colorRow">
        <div class="colorDiv"
             *ngFor="let hsl of hslArr1; let i = index;"
             (mouseleave)="row1ShowBtnCopy[i] = false"
             (click)="row1ShowBtnCopy[i] = !row1ShowBtnCopy[i]"
             [style.cursor]="'pointer'"
             [style.width.px]="bodyWidth * 0.15"
             [style.height.px]="bodyWidth * 0.15"
             [style.background-color]="hsl">
          <div class="btn-copy"
               (click)="openSnackBar()"
               *ngIf="row1ShowBtnCopy[i]">
            <div [style.margin]="'auto'">
              <i class="material-icons">content_copy</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col colorRow">
        <div class="colorDiv"
             *ngFor="let hsl of hslArr2; let i = index;"
             (mouseleave)="row2ShowBtnCopy[i] = false"
             (click)="row2ShowBtnCopy[i] = !row2ShowBtnCopy[i]"
             [style.cursor]="'pointer'"
             [style.width.px]="bodyWidth * 0.15"
             [style.height.px]="bodyWidth * 0.15"
             [style.background-color]="hsl">
          <div class="btn-copy"
               (click)="openSnackBar()"
               *ngIf="row2ShowBtnCopy[i]">
            <div [style.margin]="'auto'">
              <i class="material-icons">content_copy</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col colorRow">
        <div class="colorDiv"
             *ngFor="let hsl of hslArr3; let i = index;"
             (mouseleave)="row3ShowBtnCopy[i] = false"
             (click)="row3ShowBtnCopy[i] = !row3ShowBtnCopy[i]"
             [style.cursor]="'pointer'"
             [style.width.px]="bodyWidth * 0.15"
             [style.height.px]="bodyWidth * 0.15"
             [style.background-color]="hsl">
          <div class="btn-copy"
               (click)="openSnackBar()"
               *ngIf="row3ShowBtnCopy[i]">
            <div [style.margin]="'auto'">
              <i class="material-icons">content_copy</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container" [style.width.%]="100">
        <div class="row">
          <div class="col-9">
            <div class="github-btn container">
              <div class="row">
                <div class="col-5" [style.paddingLeft.px]="2" [style.paddingRight.px]="2">
                  <img [src]="'../assets/git-hub-mark-32-px.png'" alt="Philip Dai's GitHub Repo Link">
                </div>
                <div class="col-7"
                     [style.paddingLeft.px]="0"
                     [style.paddingRight.px]="6"
                     [style.paddingUp.px]="2"
                     [style.fontSize.px]="13">Github
                </div>
              </div>
            </div>
          </div>
          <div class="col-3" [style.width.px]="bodyWidth * 0.2">
            <span>Built by Qiang & Dai | &copy; 2017</span>
          </div>
        </div>
      </div>
    </div>
    <div id="snackbar">You have copied the selected color.</div>
  </div>
</div>