.hex-input {
    font-size: 120%;
}

.jumbotron {
    padding: 2em;
    margin-bottom: 0;
}

.error-msg {
    color: palevioletred;
}

.footer{
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

.colorDiv {
    width: 56px;
    height: 168px;
    font-size: 8px;
    display: flex;
    border: solid gray 1px;
}