* {
    font-family: Roboto;
}

.material-icons {
    font-family: 'Material Icons';
}

.hex-input {
    font-size: 32px;
    border-bottom: dotted rgba(0,0,0,0.12) 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    color: #ff498c;
    text-shadow: 0px 0px 0px #777;
    -webkit-text-fill-color: transparent;
    width: 208px;
}

.hex-input:focus {
    outline-width: 0;
}

.jumbotron {
    padding: 1em;
    margin-bottom: 0;
    background-color: #fafafa;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 0 3px 0 rgba(0, 0, 0, 0.12);
}

.error-msg {
    color: palevioletred;
}

.footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 32px;
    padding: 1em 0;
}

.btn-copy {
    width: 56px;
    height: 56px;
    background-color: #ff498c;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 0 12px 0 rgba(0, 0, 0, 0.12);
    border-style: none;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
    border-image-slice: 1;
    border-radius: 50%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

    position: absolute;
    right: 3px;
    top: -28px;
}

.btn-photo {
    width: 56px;
    height: 56px;
    background-color: #ff498c;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 0 12px 0 rgba(0, 0, 0, 0.12);
    border-style: none;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
    border-image-slice: 1;
    border-radius: 50%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

    position: absolute;
    left: 3px;
    bottom: 3px;
}

.colorRow {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.colorDiv {
    width: 56px;
    height: 168px;
    font-size: 8px;
    position: relative;
}

.uiplatte-icon {
    width: 48.5px;
    height: 12px;
    font-family: "Dancing Script";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.generate-palatte-by {
    width: 115.5px;
    height: 12px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.38);
}

.container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 12px;
}

.mat-input-container {
    width: 30%;
}

.github-btn {
    width: 73px;
    height: 32px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.87);
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    align-items: center;
    justify-content: center;
}

form {
    margin: 0;
    padding: 0;
}

.colorBody {
    margin: 0;
    padding: 0;
    width: 100%;
}

.cdk-visually-hidden {
    display: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#left-top-corner {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 3px;
    border-top: solid 2px rgba(0, 0, 0, 0.38);
    border-left: solid 2px rgba(0, 0, 0, 0.38);
}

#right-top-corner {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 10px;
    border-radius: 2px;
    border-top: solid 2px rgba(0, 0, 0, 0.38);
    border-right: solid 2px rgba(0, 0, 0, 0.38);
}

#left-bottom-corner {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    left: 10px;
    border-radius: 2px;
    border-left: solid 2px rgba(0, 0, 0, 0.38);
    border-bottom: solid 2px rgba(0, 0, 0, 0.38);
}

#right-bottom-corner {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 10px;
    border-radius: 2px;
    border-right: solid 2px rgba(0, 0, 0, 0.38);
    border-bottom: solid 2px rgba(0, 0, 0, 0.38);
}

.btn-ok {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #485bbe;
    padding: 4px;
}