.hex-input {
    font-size: 120%;
}

.jumbotron {
    padding: 2em;
}

.error-msg {
    color: palevioletred;
}

.footer{
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}