<h1 md-dialog-title>Screenshot your palette </h1>
<div [style.marginBottom]="'24px'"
     [style.fontFamily]="Roboto" >
  Screenshot the following palette by any tool from your computer.
</div>
<div md-dialog-content
     [style.position]="'relative'"
     [style.margin]="'auto'">
  <div id="left-top-corner"></div>
  <div id="left-bottom-corner"></div>
  <div id="right-top-corner"></div>
  <div id="right-bottom-corner"></div>
  <div class="container" [style.margin]="'0'">
    <div class="row">
      <div class="col"
           *ngFor="let hsl of hslArr1; let i = index;"
           [style.width.px]="1000 * 0.25 * 0.10"
           [style.height.px]="1000 * 0.7 * 0.10"
           [style.background-color]="hsl">
      </div>
    </div>

    <div class="row">
      <div class="col"
           *ngFor="let hsl of hslArr2; let i = index;"
           [style.width.px]="1000 * 0.25 * 0.10"
           [style.height.px]="1000 * 0.7 * 0.10"
           [style.background-color]="hsl">
      </div>
    </div>

    <div class="row">
      <div class="col"
           *ngFor="let hsl of hslArr3; let i = index;"
           [style.width.px]="1000 * 0.25 * 0.10"
           [style.height.px]="1000 * 0.7 * 0.10"
           [style.background-color]="hsl">
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-10"></div>
  <div class="col-2">
    <div md-dialog-actions>
      <button md-button (click)="modalRef.close()">OK</button>
    </div>
  </div>
</div>
